<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IInternalCustomerService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IMathInterface" />
                <binding name="WSHttpBinding_IDataComponent" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2345/MyWcfServices/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IMathInterface" contract="myServices.IMathInterface"
                name="WSHttpBinding_IMathInterface">
                <identity>
                    <userPrincipalName value="PHANI-PC\phani" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:3333/MySelfHostingServices/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="hostServices.ICustomerService" name="BasicHttpBinding_ICustomerService" />
            <endpoint address="net.tcp://localhost:4444/MyTcpServices/tcp"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IInternalCustomerService"
                contract="hostServices.IInternalCustomerService" name="NetTcpBinding_IInternalCustomerService">
                <identity>
                    <userPrincipalName value="PHANI-PC\phani" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:1234/MyWindowsServices/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataComponent"
                contract="myWinServices.IDataComponent" name="WSHttpBinding_IDataComponent">
                <identity>
                    <userPrincipalName value="PHANI-PC\phani" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>